*{
    margin: 0;
}
body{
    background: url('/images/library.jpeg') center center/cover;
    font-family: 'Geist', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.accordion{
    background-color: rgb(249, 241, 232);
    height: fit-content;
    width: 800px;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
}

#title{
    text-align: center;
    margin-bottom: 50px;
}

.question{
    border-bottom:rgba(101, 48, 2, 0.27) solid 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.answer{
    padding-top: 0px;
    padding-bottom: 0px;
    max-height: 0;
    font-weight: 300;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    opacity: 0;
}

.show{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 200px;
    opacity: 1;
}

.collapsing {
    position: relative;
    transition: max-height 0.5s ease, padding 0.5s ease;
}